@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");

@import "tailwindcss";


@theme{
  /* Colors */
  --bg: #000000;
  --text: #FFFFFF;
  --accent-green: #45a049;
  --accent-pink: #FF69B4;
  --accent-purple: #B026FF;
  --accent-yellow: #FFEB3B;
  --accent-orange: #FF9500;
  --map-us: #00FFFF;
  --map-ca: #FF69B4;
  --map-au: #39FF14;
  --map-gb: #B026FF;
  --hover-blue: #40C4FF;


    /* Fonts */
  --font-sans: "Inter", sans-serif;
  --font-sora: "Sora", sans-serif;

}

*{
  /* font-family: inter; */
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: var(--text);
  /* font-family: var(--font-sans); */
}


@layer components{
  header{
    @apply w-screen fixed top-0 left-0 z-50 flex text-white bg-black min-h-[7vh] border-b-[0.5px] border-gray-400 z-1000;

    nav{
      @apply container mx-auto flex justify-around content-center px-5 py-5 2xl:px-10;

      ul{
        @apply flex max-md:flex-col max-md:absolute max-md:top-10 max-md:bg-black max-md:w-screen max-md:h-dvh justify-around gap-8 max-lg:gap-4 max-md:items-center max-md:justify-evenly max-md:p-20 max-md:origin-right max-md:transition-transform max-md:duration-300;

        a{
          /* @apply hover:text-hover-blue; */
        }
      }
    }
  }

  section{
    @apply px-10 max-sm:px-5 flex flex-col items-center;
  }

  .heading1{
    @apply text-4xl max-sm:text-3xl font-semibold text-center mt-30 mb-30;
  }

  .heading2{
    @apply text-4xl max-sm:text-3xl font-semibold text-center my-20;
  }
}